body {
  background-color: #FFFFFF;
  text-align: center;
  font-family: 'Roboto', arial;
  padding: 0;
  margin: 0;
}

.header img {
    max-width: 100px;
    display: flex;
    margin-right: auto;
    margin-left: 72px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  margin-right: 72px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.header,
.footer{
  display: flex;
  align-items: center;
  padding: 20px;
  font: hero;
  background-color: #1F2937;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: auto;
}

.gradey {
    width: 300px;
    max-width: 550px;
    display: flex;
    margin-right: 72px;
    flex: 1;
    object-fit: cover;
}

.content-container {
  display: flex;
  color: #F9FAF8;
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  padding: 100px;
  padding-top: 30px;
}

.top-content {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
}

.large {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin: 5px;
}

.subtext {
  font-size: 18px;
  margin: 5px;
}

.top-content button {
  display: block;
  text-align: center;
  width: 110px;
  border: none;
  background: #3882f6;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-family: 'Roboto', arial;
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.info img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  border: 5px solid blue;
}

.mid-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 75px;
  flex-wrap: wrap;
}

.info {
  text-align: center;
  max-width: 200px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quote-container {
  display: flex;
  flex-direction: column;
  background: #E5E7EB;
  padding: 125px;
  align-items: center;
  justify-content: center;
}

.quote {
  max-width: 600px;
  font-size: 42px;
  font-style: italic;
  color: #1F2937;
}

.name {
  text-align: end;
  margin-left: 400px;
  font-weight: 1000;
}

.contain {
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  justify-content: center;
}

.action-container {
  display: flex;
  background-color: #3882F6;
  padding: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 100px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex: 0;
  width: 500px;
  height: 50px;
}


.action-text {
  display: flex;
  flex-direction: column;
  color: white;
}

.action-container button {
  display: block;
  text-align: center;
  width: 110px;
  height: 30px;
  border: none;
  background: #3882f6;
  border-radius: 8px;
  color: #fff;
  font-family: 'Roboto', arial;
  text-decoration: none;
  font-weight: bold;
  margin: 2px;
  border: 10px;
  border: 3px solid white;
  margin-left: 100px;
}

.main {
  text-align: left;
  font-weight: bold;
  font-size: 22px;
}

.sub {
  text-align: left;
  font-size: 15px;
}